<div id="sidebar">
    <ul class="sidebar-list">
      
            <li class="list" id="sidebar-adduser">
                <a href="/">
                    <span class="list-span">
                        <i class="fas fa-home" id="icon"></i>
                    </span>
                   d
                </a>
             </li>
             <li class="list" id="sidebar-adduser">
                <a href="/analytics">
                    <span class="list-span">
                        <i class="fas fa-globe" id="icon"></i>
                    </span>
                   d
                </a>
             </li>

               <li class="list" id="sidebar-userlist">
                <a href="/map">
                    <span class="list-span">
                        <i class="fas fa-map-marker-alt" id="icon"></i>
                    </span>
                    d
                </a>
            </li>

            <li class="list" id="sidebar-userlist">
                <a href="/state">
                    <span class="list-span">
                        <i class="fas fa-city" id="icon"></i>
                    </span>
                    d
                </a>
            </li>


            <li class="list" id="sidebar-userlist">
                <a href="/symptom_page">
                    <span class="list-span">
                        <i class="fas fa-sun" id="icon"></i>
                    </span>
                    d
                </a>
           </li>
           
           <li class="list" id="sidebar-userlist">
                <a href="/precaution_page">
                    <span class="list-span">
                        <i class="fas fa-shield-alt" id="icon"></i>
                    </span>
                    d
                </a>
            </li> 

            <li class="list" id="sidebar-userlist">
                <a href="/faq_page">
                    <span class="list-span">
                        <i class="fas fa-question" id="icon"></i>
                    </span>
                    d
                </a>
            </li> 

            <li class="list" id="sidebar-userlist">
                <a href="/chat_page">
                    <span class="list-span">
                        <i class="fas fa-plus" id="icon"></i>
                    </span>
                    d
                </a>
            </li> 

            <li class="list" id="sidebar-userlist">
                <a href="/news_page">
                    <span class="list-span">
                        <i class="fas fa-newspaper" id="icon"></i>
                    </span>
                    d
                </a>
            </li>   

          
            <li class="list" id="sidebar-userlist">
                <a href="/travelAdvisory">
                    <span class="list-span">
                        <i class="fas fa-plane" id="icon"></i>
                    </span>
                    d
                </a>
            </li>
             <li class="list" id="sidebar-userlist">
                <a href="/essentialAdvisory">
                    <span class="list-span">
                        <i class="fas fa-shopping-cart" id="icon"></i>
                    </span>
                    d
                </a>
            </li>
    </ul>
</div>

