<nav id="navbar">
    <div class="container-fluid">
        <div id="leftpanel" style="float:left;">
          
            <a id="covid"  class="navbar-brand" href="#">COVID-19</a>
            
        </div>

        <div id="rightpanel">
            <a href="">
            
           
        </div>
    </div>
</nav>