<nav id="navbar">
    <div class="container">
        <div id="leftpanel">
          
            <a id="covid" class="navbar-brand" href="#">COVID-19</a>
            
        </div>

        <div id="rightpanel">
            <a href="">
            
           
        </div>
    </div>
</nav>