<!DOCTYPE html >
<html >
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Chat - Customer Module</title>
<style>
    body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:804px;
    height:50%;
    border:1px solid #ACD8F0; }
  

  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    /*padding:10px;*/
    background:#fff;
    height:470px;
    width:630px;
    border:1px solid #ACD8F0;
    overflow:auto; 
      scroll-behavior: smooth;

  }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  

#ques
{
 
  padding : 10px 10px 5px 5px;
}
.box
{
    width:20%;
    padding:10px;
    border-radius: 35px;
    background-color: #ADD8E6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


</style>
</head>
<body>
 
<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
        <div style="clear:both"></div>
    </div>
     
   <div id="chatbox">
       <div class="  d-flex justify-content-around align-items-center pt-3">
          <div style="background-color:#ADD8E6;border-radius: 15px;padding: 5px 5px 5px 5px;" id="main">
         </div>
       </div>
       <div class=" d-flex justify-content-around align-items-center pt-3" id="parent">
        
       </div> 
     <div class=" d-flex justify-content-end align-items-center pt-3" >
        
       </div> 


   </div>

        <input name="usermsg" type="text" id="usermsg" size="63" /> 
 <button name="submitmsg" type="button"  id="submitmsg"  onclick="submit_ans()"  >NEXT</button>
  <button name="submitmsg" type="submit"  id="submit" onclick="report()"  >RESULT</button>


</div>

<script>

var k=0,n=0,count=0;
var arr;
   var result=[];
var usermsg;

function add()
{
     
    var request= new XMLHttpRequest();
    request.open('GET','/ques');
    request.send();

 request.onload=function()
    {
      arr=JSON.parse(request.responseText);
       console.log(arr);

       addTOdom(arr,k);

    }

}
function addTOdom(arr,k)
{

console.log('dom');
var div1 = document.createElement('div');
  div1.setAttribute("class","d-flex justify-content-around  pt-3");

  var div2 = document.createElement('div');
  div2.setAttribute("style","background-color:#ADD8E6;border-radius: 15px;padding: 5px 5px 5px 5px;margin-bottom:5px");


  var h3 = document.createElement('h3');
  h3.setAttribute("id","ques");
  h3.innerHTML = arr[k].question;

  div2.appendChild(h3);
  div1.appendChild(div2);

  var div3 = document.createElement('div');
  div3.setAttribute("class","d-flex justify-content-around  pt-3");

  var div4 = document.createElement('div');
  div4.setAttribute("class","box");

  var p1 = document.createElement('p');
  p1.innerHTML = arr[k].option1;

  div4.appendChild(p1);

  var div5 = document.createElement('div');
  div5.setAttribute("class","box");

  var p2 = document.createElement('p');
  p2.innerHTML = arr[k].option2;

  div5.appendChild(p2);

  var div6 = document.createElement('div');
  div6.setAttribute("class","box");

  var p3 = document.createElement('p');
  p3.innerHTML = arr[k].option3;

  div6.appendChild(p3);

  var div7 = document.createElement('div');
  div7.setAttribute("class","box");

  var p4 = document.createElement('p');
  p4.innerHTML = arr[k].option4;

  div7.appendChild(p4);

  div3.appendChild(div4);
  div3.appendChild(div5);
  div3.appendChild(div6);
  div3.appendChild(div7);

  document.getElementById("chatbox").appendChild(div1);
  document.getElementById("chatbox").appendChild(div3);

  



}

function display_ans()
{
  var chatbox=document.getElementById('chatbox');
  var div1 = document.createElement('div');
  div1.setAttribute("class","d-flex justify-content-end  pt-3");

  var div2 = document.createElement('div');
  div2.setAttribute("class","box");
  div2.setAttribute("id","answer");
  var p1 = document.createElement('p');
  p1.innerHTML = usermsg;

  div2.appendChild(p1);
  div1.appendChild(div2);
  chatbox.appendChild(div1);

}

function submit_ans()
{
           usermsg= document.getElementById('usermsg').value;

            if(usermsg=='')
            {
              alert('field is empty');
              return false;
            }
            display_ans();
         
          result[n]=usermsg;
          n++;

  console.log("ty");

             k++;
             addTOdom(arr,k); 
          

}
function report()
{
  for(var i=0;i<result.length;i++)
  {
    if(result[i]=='no')
      count++;
  }

  if(count==4)
    alert('u are fine');
  else
    alert('consult');
}

add();

</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

</body>
</html>
