 <!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0"> 
<title>Statewise Data</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
<link rel="stylesheet" href="css/partials.css">
<link rel="stylesheet" href="css/mainstyle.css">

</head>

<body>
<%- include('partials/topbar.ejs') %>
<div id="viewscreen" >
    <%- include('partials/sidebar.ejs') %>
        <div id="rightview" >
            <div class="container" style="padding:0;">
                <div class="row">
                    <div class="col-lg-12" style="padding:0">
                        <div class="container">
                            
                            <header style="margin-top: 5%;"><h1>STATEWISE CASE COUNT</h1></header>
                            
                            <section class="section1">

                                    <div class="responsiveTable" style="padding-left: 100px;">
                                            <table class="table table-bordered text-center table-md" id="myTable" style="color:white;">
                                                <tr>
                                                        <th>Last Updated</th>
                                                        <th >State/UT</th>
                                                        <th>Confirmed</th>
                                                        <th>Active</th>
                                                        <th>Recovered</th>
                                                        <th>Deaths</th>
                                                        
                    
                                                        <th>Helpline Number</th>
                                                </tr>
                                    
                                            </table>
                                        </div>
                    
                    
                                        
                            </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>

    async function getCovidAPI()
    {
        const jsondata=await fetch('https://api.covid19india.org/data.json');

        //console.log(jsondata);

        const jsdata=await jsondata.json();
        //console.log(jsdata);
        var helpline=[0,02026127394,04429510500,01122307145,104,01412225624,104,18001805145,1800313444222,102,104,08662410978,104,104,104,104,9439994859,8558893911,04712552056,6913347770,104,104,104,104,9779558282,03812315879,01982256462,104,3852411668,03812315879,7005539653
,03192232102,108,9436055743,104,102,104,104];
        for(var i=0;i<helpline.length;i++)
        {
            console.log(helpline[i]);
        }
        for(var i=1;i<jsdata.statewise.length;i++)
        {

            /*fetching latest time record*/
             const country_updated_time=jsdata.statewise[i].lastupdatedtime;
             /*fetching states*/
            const country_res=jsdata.statewise[i].state;
            /*fetching total confirmed cases of particular state*/
            const country_confirmed=jsdata.statewise[i].confirmed;
            /*fetching total active cases of particular state*/
            const country_active=jsdata.statewise[i].active;
            /*fetching total recovered cases of a particular state*/
            const country_recovered=jsdata.statewise[i].recovered;
            /*fetching total deaths of a particular state*/
            const country_death=jsdata.statewise[i].deaths;

            const helpline_num=helpline[i];
            
            var table=document.getElementById('myTable');
            var row=table.insertRow(i);
            var cell0=row.insertCell(0);
            var cell1=row.insertCell(1);
            var cell2=row.insertCell(2);
            var cell3=row.insertCell(3);
            var cell4=row.insertCell(4);
            var cell5=row.insertCell(5);
            var cell6=row.insertCell(6);
            cell0.innerHTML=country_updated_time;
            cell1.innerHTML=country_res;
            cell2.innerHTML=country_confirmed;
            cell3.innerHTML=country_active;
            cell4.innerHTML=country_recovered;
            cell5.innerHTML=country_death;
            cell6.innerHTML=helpline_num;
            
        }
    }
    getCovidAPI();

</script>