body,html{
    height:100vh;
    background-color:black;;
}
h1{
    color:white;
    text-align:center;
}
/* body{
    margin:0;
    display:grid; 
    grid-template-columns: auto 31% 31% 31%;
    grid-template-rows: 8% 40% auto;
    grid-template-areas:
    "sidebar header header header"
    "sidebar section1 section2 section3"
    "sidebar main main main" ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} */
body{
    margin:0;
    display:grid; 
    grid-template-columns:100%;
    /* grid-template-rows:100%; */
    grid-template-rows: repeat(auto,7);
    grid-template-areas:
   "header"
   "section1"
   "section2"
   "section3"
   "section4"
   "section5"
   "section6";
   /* "main"; */
     grid-column-gap: 30px;
    grid-row-gap: 30px;
} 
header{
    grid-area:header;
    text-align:center;
    padding-top:20px;
    /* background-color:rgba(37, 37, 37, 0.8); */

}
.section1{
    grid-area:section1;
    /* background-color:rgba(37, 37, 37, 0.8); */
    border:2px solid white;


    /* grid-gap:20px; */
}
.section2{
    grid-area:section2;
    /* background-color:rgba(37, 37, 37, 0.8); */
    border:2px solid white;


}
.section3{
    grid-area:section3;
    /* background-color:rgba(37, 37, 37, 0.8); */
    border:2px solid white;


}
.section4{
    grid-area:section4;
    /* background-color:rgba(37, 37, 37, 0.8) */
    border:2px solid white;


}
.section5{
    grid-area:section5;
    /* background-color:rgba(37, 37, 37, 0.8) */
    border:2px solid white;


}
.section6{
    grid-area:section6;
    /* background-color:rgba(37, 37, 37, 0.8); */

    /* background-color:rgba(211, 49, 49, 0.8); */
    border:2px solid white;

}


 
@media only screen and (min-width:768px ){ 

    /* @media only screen and (min-width:550px ){  */

    body{
        margin:0;
        display:grid; 
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 8% 46% 46%;
        grid-template-areas:
        "header header header "
        "section1 section2 section3"
        "section4 section5 section6" ;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

}
/* .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
} */

img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
      color:white;
      text-align:center;
  }


  